# =========================
# Authentik
# =========================
AUTHENTIK_SECRET_KEY=authentik_secret_key_please_change_me
AUTHENTIK_POSTGRESQL__PASSWORD=authentik_db_password_please_change_me

# =========================
# Odoo
# =========================
POSTGRES_PASSWORD=postgres_password_please_change_me

# =========================
# LibreChat
# =========================
JWT_SECRET=jwt_secret_please_change_me
CREDS_KEY=creds_key_please_change_me
CREDS_IV=creds_iv_please_change_me

# =========================
# Authentik OIDC URLs
# =========================
# PUBLIC URL: Browser truy cập được (redirect) [https://your-domain.com or http://localhost:9000]
AUTHENTIK_PUBLIC_URL=authentik_public_url_please_change_me

# INTERNAL URL: Odoo container truy cập được (token/userinfo) [https://your-domain.com or http://authentik-server:9000]
AUTHENTIK_INTERNAL_URL=authentik_internal_url_please_change_me
