.DS_Store
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
*.zip
*.tar.gz
*.egg-info/
node_modules/
dist/
build/
.vscode/
.idea/
.venv/
env/
venv/
.env.local
.env.development
.env.production
.env.test
coverage.xml
htmlcov/
auth-certs/
auth-db/
auth-media/
auth-templates/
librechat-data/
librechat-images/
odoo-web-data/
postgres/